.wrapper {
	display: flex;
	position: relative;
	justify-content: space-between;
	flex-wrap: wrap;
}

.image {
	border: 2px solid grey;
	border-radius: 8px;
	box-shadow: 20px 20px 10px;
	display: flex;
	position: absolute;
	left: 390;
	bottom: 20;
	align-self: center;
	width: 40%;
	height: 65%;
	justify-content: space-evenly;
	box-sizing: border-box;
	background-color: grey;
}
div.button-container {
	position: absolute;
	left: 63%;
	bottom: 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: fit-content;
	height: 40%;
}
button {
	width: 90px;
	height: 25px;
	color: white;
	background-color: transparent;
	border: none;
	font-size: 16px;
	font-weight: 500;
	border-radius: 3px;
	font-family: 'Courier New', Courier, monospace;
}
button:hover {
	font-size: 18px;
	font-weight: 600;
	background-color: transparent;

	box-shadow: 1px 1px 2px 2px;
}

.nested-image {
	max-height: 80%;
	max-width: 100%;

	z-index: -1;
	position: absolute;
	top: 0;

	border-radius: inherit;
}
.icon-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	column-gap: 5px;
	width: 100%;
	min-height: fit-content;
	justify-content: space-around;
	position: absolute;
	margin-bottom: 1%;
	bottom: 0;
	left: 0;
}
.icons {
	border-radius: 3px;
	border: 1px solid grey;

	max-height: 70%;
	max-width: 97px;
}

div.icons > img {
	box-sizing: border-box;
	border: 1px solid rgb(50, 106, 116);

	border-radius: 4px;
	max-height: 100%;
	max-width: 100%;
}
#laptop {
	width: 90%;
}
